In [1]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.width', 400)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

In [2]:
from bs4 import BeautifulSoup
import urllib2
import requests

In [21]:
import json
with open("polinfo.json") as json_file:
    polinfo = json.load(json_file)
    json_file.close()

In [ ]:
polinfo.keys()[0:2]

In [367]:
#polinfo['candidate.php?candidate_id=4063']

In [ ]:
#soup=BeautifulSoup(polinfo['candidate.php?candidate_id=4063'],"html.parser")
#print soup.prettify()

In [64]:
def movable_assets(info,url):
    soup=BeautifulSoup(info[url],"html.parser")
    table = soup.find("a", attrs={"name": "movable_assets"}).find("table")
    madict={}
    madict["url"]="http://myneta.info/ls2014/"+str(url)
    for r in table.findAll('td'):
        try:
            if r.get_text()=="i":
                madict["Cash"] = r.findNext('b').get_text().strip().encode('ascii', 'ignore').replace("Rs","")

            if r.get_text()=="ii":
                madict["Deposits in Banks, Financial Institutions and Non-Banking Financial Companies"] = r.findNext('b').get_text().strip().encode('ascii', 'ignore').replace("Rs","")

            if r.get_text()=="iii":
                madict["Bonds, Debentures and Shares in companies"] = r.findNext('b').get_text().strip().encode('ascii', 'ignore').replace("Rs","")
            
            #this row is tricky: use different tag and attribute to pick up text. Limit specificies # of iteration. for findall method
            if r.get_text()=="iv":
                subtypes= r.findAllNext('span', attrs={"style":"color:black"},limit=2)
                sublist=[x.get_text().strip().encode('ascii', 'ignore').replace("Rs","") for x in subtypes]
                madict["NSS, Postal Savings etc"] = sublist[0]
                madict["LIC or other insurance Policies"] = sublist[1]

            if r.get_text()=="v":
                madict["Personal loans/advance given"] = r.findNext('b').get_text().strip().encode('ascii', 'ignore').replace("Rs","")

            if r.get_text()=="vi":
                madict["Motor Vehicles (details of make, etc.)"] = r.findNext('b').get_text().strip().encode('ascii', 'ignore').replace("Rs","")

            if r.get_text()=="vii":
                madict["Jewellery (give details weight value)"] = r.findNext('b').get_text().strip().encode('ascii', 'ignore').replace("Rs","")

            if r.get_text()=="viii":
                madict["Other assets, such as values of claims / interests"] = r.findNext('b').get_text().strip().encode('ascii', 'ignore').replace("Rs","")

            if r.get_text()=="Gross Total Value (as per Affidavit)":
                madict["Gross Total Value (as per Affidavit)"] = r.findNext('b').get_text().strip().encode('ascii', 'ignore').replace("Rs","")

            if r.get_text()=="Totals (Calculated as Sum of Values)":
                madict["Totals (Calculated as Sum of Values)"] = r.findNext('b').get_text().strip().encode('ascii', 'ignore').replace("Rs","")

        except:
            pass              

    return madict

In [65]:
def immovable_assets(info,url):
    soup=BeautifulSoup(info[url],"html.parser")
    table = soup.findAll("table",attrs={"class":"table1"})[2]
    immadict={}
    immadict["url"]="http://myneta.info/ls2014/"+str(url)
    for r in table.findAll('td'):
        try:
            if r.get_text()=="i":
                immadict["Agricultural Land"] = r.findNext('b').get_text().strip().encode('ascii', 'ignore').replace("Rs","")

            if r.get_text()=="ii":
                immadict["Non Agricultural Land"] = r.findNext('b').get_text().strip().encode('ascii', 'ignore').replace("Rs","")

            if r.get_text()=="iii":
                immadict["Commercial Buildings"] = r.findNext('b').get_text().strip().encode('ascii', 'ignore').replace("Rs","")
            
            if r.get_text()=="iv":
                immadict["Residential Buildings"] = r.findNext('b').get_text().strip().encode('ascii', 'ignore').replace("Rs","")

            if r.get_text()=="v":
                immadict["Others"] = r.findNext('b').get_text().strip().encode('ascii', 'ignore').replace("Rs","")
            
            if r.get_text()=="Total Current Market Value of (i) to (v) (as per Affidavit)":
                immadict["Total Current Market Value of (i) to (v) (as per Affidavit)"] = r.findNext('span', attrs={"style":"color:green"}).get_text().strip().encode('ascii', 'ignore').replace("Rs","")

            if r.get_text()=="Totals Calculated":
                immadict["Totals Calculated"] = r.findNext('span', attrs={"style":"color:purple"}).get_text().strip().encode('ascii', 'ignore').replace("Rs","")

                
        except:
            pass
    
    return immadict

In [66]:
def cleaner(d):
    for key in d.keys():
        if d[key]=='Nil':
            d[key]==np.nan
        else:
            try:
                d[key]=float(d[key].replace(',',''))
            except:
                pass
    return d

In [67]:
%%time
movassets={}
for url in polinfo.keys():
    try:
        massetdict=cleaner(movable_assets(polinfo,url))
        movassets[url] = massetdict
        
    except TypeError: 
        print "error: ",url

error:  candidate.php?candidate_id=6112
error:  candidate.php?candidate_id=2923
error:  candidate.php?candidate_id=8068
error:  candidate.php?candidate_id=1469
error:  candidate.php?candidate_id=5058
error:  candidate.php?candidate_id=5390
error:  candidate.php?candidate_id=4001
CPU times: user 18min 30s, sys: 12.9 s, total: 18min 43s
Wall time: 21min 59s

In [13]:
#fd=open("movassets.json","w")
#json.dump(movassets, fd)
#fd.close()

In [39]:
%%time
immovassets={}
for url in polinfo.keys():
    try:
        immassetdict=cleaner(immovable_assets(polinfo,url))
        immovassets[url] = immassetdict
        
    except TypeError: 
        print "error: ",url

error:  candidate.php?candidate_id=6112
error:  candidate.php?candidate_id=2923
error:  candidate.php?candidate_id=8068
error:  candidate.php?candidate_id=1469
error:  candidate.php?candidate_id=5058
error:  candidate.php?candidate_id=5390
error:  candidate.php?candidate_id=4001
CPU times: user 19min 35s, sys: 13.1 s, total: 19min 48s
Wall time: 21min 18s

In [55]:
len(movassets)

8197

In [104]:
movassets=pd.DataFrame(movassets)
movassets=movassets.transpose()

In [106]:
movassets=movassets.replace('Nil',np.nan)
movassets.head(2)

,candidate.php?candidate_id=10,candidate.php?candidate_id=100,candidate.php?candidate_id=1000,candidate.php?candidate_id=1001,candidate.php?candidate_id=1002,candidate.php?candidate_id=1003,candidate.php?candidate_id=1004,candidate.php?candidate_id=1005,candidate.php?candidate_id=1006,candidate.php?candidate_id=1008,candidate.php?candidate_id=1009,candidate.php?candidate_id=101,candidate.php?candidate_id=1010,candidate.php?candidate_id=1011,candidate.php?candidate_id=1012,candidate.php?candidate_id=1013,candidate.php?candidate_id=1014,candidate.php?candidate_id=1015,candidate.php?candidate_id=1016,candidate.php?candidate_id=1017,candidate.php?candidate_id=1018,candidate.php?candidate_id=1019,candidate.php?candidate_id=102,candidate.php?candidate_id=1020,candidate.php?candidate_id=1021,candidate.php?candidate_id=1023,candidate.php?candidate_id=1025,candidate.php?candidate_id=1027,candidate.php?candidate_id=1028,candidate.php?candidate_id=1029,candidate.php?candidate_id=103,candidate.php?candidate_id=1030,candidate.php?candidate_id=1031,candidate.php?candidate_id=1034,candidate.php?candidate_id=1035,candidate.php?candidate_id=1036,candidate.php?candidate_id=1037,candidate.php?candidate_id=1038,candidate.php?candidate_id=104,candidate.php?candidate_id=1041,candidate.php?candidate_id=1042,candidate.php?candidate_id=1043,candidate.php?candidate_id=1044,candidate.php?candidate_id=1045,candidate.php?candidate_id=1046,candidate.php?candidate_id=1047,candidate.php?candidate_id=1048,candidate.php?candidate_id=105,candidate.php?candidate_id=1050,candidate.php?candidate_id=1051,...,candidate.php?candidate_id=9811,candidate.php?candidate_id=9812,candidate.php?candidate_id=9813,candidate.php?candidate_id=9814,candidate.php?candidate_id=9815,candidate.php?candidate_id=9816,candidate.php?candidate_id=9817,candidate.php?candidate_id=9818,candidate.php?candidate_id=9819,candidate.php?candidate_id=982,candidate.php?candidate_id=9820,candidate.php?candidate_id=9821,candidate.php?candidate_id=9822,candidate.php?candidate_id=9823,candidate.php?candidate_id=9824,candidate.php?candidate_id=9825,candidate.php?candidate_id=9826,candidate.php?candidate_id=9827,candidate.php?candidate_id=9828,candidate.php?candidate_id=983,candidate.php?candidate_id=9830,candidate.php?candidate_id=9831,candidate.php?candidate_id=9832,candidate.php?candidate_id=9833,candidate.php?candidate_id=9834,candidate.php?candidate_id=9835,candidate.php?candidate_id=9837,candidate.php?candidate_id=9838,candidate.php?candidate_id=9839,candidate.php?candidate_id=984,candidate.php?candidate_id=9840,candidate.php?candidate_id=9841,candidate.php?candidate_id=9842,candidate.php?candidate_id=9843,candidate.php?candidate_id=9844,candidate.php?candidate_id=9846,candidate.php?candidate_id=9847,candidate.php?candidate_id=9848,candidate.php?candidate_id=9849,candidate.php?candidate_id=985,candidate.php?candidate_id=989,candidate.php?candidate_id=99,candidate.php?candidate_id=990,candidate.php?candidate_id=991,candidate.php?candidate_id=992,candidate.php?candidate_id=993,candidate.php?candidate_id=994,candidate.php?candidate_id=995,candidate.php?candidate_id=997,candidate.php?candidate_id=999
"Bonds, Debentures and Shares in companies",NaN,2e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.568488e+09,NaN,NaN,NaN,NaN,3.7551e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.67152e+07,NaN,NaN,947000,NaN,1.724532e+07,1.2e+07,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,377500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5080000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,30000,NaN,NaN,NaN,101000,927,NaN,NaN,NaN,NaN,85000
Cash,500,1.425e+07,240000,290000,40000,40000,300000,75000,125000,100000,149000,60000,NaN,300000,60000,122963,800000,250000,65000,60000,427470,50000,1110100,15000,73000,60000,40000,51000,25000,90000,4250000,15000,15500,15000,250000,238890,30000,684000,422500,60000,500000,15000,65762,434000,420380,971191,780000,544190.2,530500,40000,...,3500,500,270000,9440,5000,NaN,26000,27000,15000,70000,2500,17000,18000,8000,1000,6000,55000,1000,501,70000,17000,30000,60000,80000,147000,800000,40000,60000,75725,60000,70000,50000,480200,75000,23000,145000,25000,NaN,77000,2400000,40000,55000,220000,800000,57600,547736,360000,125000,25000,38000

In [107]:
movassets.to_csv("movassets.csv", header=True, index=False, encoding='utf-8')

In [108]:
immovassets=pd.DataFrame(immovassets)
immovassets=immovassets.transpose()

In [109]:
immovassets=immovassets.replace('Nil',np.nan)
immovassets.head(2)

,candidate.php?candidate_id=10,candidate.php?candidate_id=100,candidate.php?candidate_id=1000,candidate.php?candidate_id=1001,candidate.php?candidate_id=1002,candidate.php?candidate_id=1003,candidate.php?candidate_id=1004,candidate.php?candidate_id=1005,candidate.php?candidate_id=1006,candidate.php?candidate_id=1008,candidate.php?candidate_id=1009,candidate.php?candidate_id=101,candidate.php?candidate_id=1010,candidate.php?candidate_id=1011,candidate.php?candidate_id=1012,candidate.php?candidate_id=1013,candidate.php?candidate_id=1014,candidate.php?candidate_id=1015,candidate.php?candidate_id=1016,candidate.php?candidate_id=1017,candidate.php?candidate_id=1018,candidate.php?candidate_id=1019,candidate.php?candidate_id=102,candidate.php?candidate_id=1020,candidate.php?candidate_id=1021,candidate.php?candidate_id=1023,candidate.php?candidate_id=1025,candidate.php?candidate_id=1027,candidate.php?candidate_id=1028,candidate.php?candidate_id=1029,candidate.php?candidate_id=103,candidate.php?candidate_id=1030,candidate.php?candidate_id=1031,candidate.php?candidate_id=1034,candidate.php?candidate_id=1035,candidate.php?candidate_id=1036,candidate.php?candidate_id=1037,candidate.php?candidate_id=1038,candidate.php?candidate_id=104,candidate.php?candidate_id=1041,candidate.php?candidate_id=1042,candidate.php?candidate_id=1043,candidate.php?candidate_id=1044,candidate.php?candidate_id=1045,candidate.php?candidate_id=1046,candidate.php?candidate_id=1047,candidate.php?candidate_id=1048,candidate.php?candidate_id=105,candidate.php?candidate_id=1050,candidate.php?candidate_id=1051,...,candidate.php?candidate_id=9811,candidate.php?candidate_id=9812,candidate.php?candidate_id=9813,candidate.php?candidate_id=9814,candidate.php?candidate_id=9815,candidate.php?candidate_id=9816,candidate.php?candidate_id=9817,candidate.php?candidate_id=9818,candidate.php?candidate_id=9819,candidate.php?candidate_id=982,candidate.php?candidate_id=9820,candidate.php?candidate_id=9821,candidate.php?candidate_id=9822,candidate.php?candidate_id=9823,candidate.php?candidate_id=9824,candidate.php?candidate_id=9825,candidate.php?candidate_id=9826,candidate.php?candidate_id=9827,candidate.php?candidate_id=9828,candidate.php?candidate_id=983,candidate.php?candidate_id=9830,candidate.php?candidate_id=9831,candidate.php?candidate_id=9832,candidate.php?candidate_id=9833,candidate.php?candidate_id=9834,candidate.php?candidate_id=9835,candidate.php?candidate_id=9837,candidate.php?candidate_id=9838,candidate.php?candidate_id=9839,candidate.php?candidate_id=984,candidate.php?candidate_id=9840,candidate.php?candidate_id=9841,candidate.php?candidate_id=9842,candidate.php?candidate_id=9843,candidate.php?candidate_id=9844,candidate.php?candidate_id=9846,candidate.php?candidate_id=9847,candidate.php?candidate_id=9848,candidate.php?candidate_id=9849,candidate.php?candidate_id=985,candidate.php?candidate_id=989,candidate.php?candidate_id=99,candidate.php?candidate_id=990,candidate.php?candidate_id=991,candidate.php?candidate_id=992,candidate.php?candidate_id=993,candidate.php?candidate_id=994,candidate.php?candidate_id=995,candidate.php?candidate_id=997,candidate.php?candidate_id=999
Agricultural Land,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.671625e+08,3150000,2500000,100000,100000,7.44e+07,NaN,1.419412e+07,NaN,0,1000000,NaN,1.215e+07,3000000,NaN,1800000,NaN,NaN,NaN,4.68e+07,NaN,NaN,NaN,8200000,1.2525e+07,2080000,1.15e+07,2.5e+07,NaN,9.6668e+07,1.82619e+08,3.75e+07,9515136,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,300000,12000,NaN,20000,1600000,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,3000000,NaN,NaN,3000000,0,NaN,NaN,NaN,NaN,1.56e+07,NaN,0,900000,300000,NaN
Commercial Buildings,NaN,1.2e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6000000,NaN,NaN,NaN,8.29744e+07,NaN,3500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8000000,3000000,NaN,9500000,3.664201e+07,NaN,3.49505e+07,680000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,550000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1400000

In [110]:
immovassets.to_csv("immovassets.csv", header=True, index=False, encoding='utf-8')

In [402]:
#example:
dft=pd.DataFrame(massets[polinfo.keys()[0]])
dft.set_index('srn',inplace=True)
dft.head()

      dependent1 dependent2 dependent3                                        description                                             self                                             spouse                     total
srn
[i]        [Nil]      [Nil]      [Nil]                                             [Cash]                        [  10,000 ,  10 Thou+,  ]                          [  10,000 ,  10 Thou+,  ]   [ Rs 20,000 , 20 Thou+]
[ii]       [Nil]      [Nil]      [Nil]  [Deposits in Banks, Financial Institutions and...         [Current A/c ,   3,50,000 ,  3 Lacs+,  ]             [Saving A/c ,   75,000 ,  75 Thou+,  ]  [ Rs 4,25,000 , 4 Lacs+]
[iii]      [Nil]      [Nil]      [Nil]        [Bonds, Debentures and Shares in companies]                                            [Nil]                                              [Nil]                   [ Nil ]
[iv]       [Nil]      [Nil]      [Nil]                    [(a),  NSS, Postal Savings etc]                                            [Nil]                                              [Nil]                   [ Nil ]
-          [Nil]      [Nil]      [Nil]  [(b), LIC or other insurance Policies , <br><s...  [HDFC Life Insurance,   2,50,000 ,  2 Lacs+,  ]  [LIC Policy,   1,95,000 ,  1 Lacs+,  , HDFC Li...  [ Rs 6,95,000 , 6 Lacs+]

In [112]:
import gc
gc.collect()

0