##Company Info

In [2]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.width', 400)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

In [23]:
companyinfo=pd.read_csv("CompanyInfo.csv")
new_cols = []
for col in companyinfo.columns:
    new_cols.append(col.replace(' ','_'))

companyinfo.columns = new_cols
companyinfo.head(1)

                       Company_Name  CMIE_company_code   Entity_type ROC_registration_number  Incorporation_year                Industry_group Main_product/service_group  Main_product/service_group_code  NIC_code   Ownership_group NSE_symbol                       Registered_office_address Head_office_address Registrar_name  Unnamed:_14 Unnamed:_15 Unnamed:_16 Unnamed:_17 Unnamed:_18
0  'K' Steamship Agencies Pvt. Ltd.                  3  Private Ltd.                11-15089                1971  Other miscellaneous services                   Services                     2.100000e+19     46909  Private (Indian)        NaN  No. 29, Bank Street, Fort,  Mumbai Maharashtra                 NaN            NaN          NaN         NaN         NaN         NaN         NaN

In [108]:
states=pd.read_csv("Indiastates.csv")
new_cols = []
for col in states.columns:
    new_cols.append(col.replace(' ','_'))

states.columns = new_cols

In [109]:
states.drop(states.index[36],inplace=True)
states.loc[23,'State_or_union_territory']='Manipur'

In [112]:
states.head()

  Rank State_or_union_territory  Population�(2011_Census)[12]  %Decadal_Growth_(2001�2011)  Rural_Pop.[14]  Urban_Pop.[14]                    Area[15]                 Density  Sex_ratio (%_of_Population_of_India)[13]
0    1            Uttar Pradesh                     199281477                        0.201       155111022        44470455   240,928�km2(93,023�sq�mi)    828/km2(2,140/sq�mi)        908                         16.49%
1    2              Maharashtra                     112372972                        0.160        61545441        50827531  307,713�km2(118,809�sq�mi)     365/km2�(950/sq�mi)        946                          9.28%
2    3                    Bihar                     103804637                        0.251        92075028        11729609    94,163�km2(36,357�sq�mi)  1,102/km2(2,850/sq�mi)        916                          8.58%
3    4              West Bengal                      91347736                        0.139        62213676        29134060    88,752�km2(34,267�sq�mi)  1,029/km2(2,670/sq�mi)        947                          7.55%
4    5           Madhya Pradesh                      72597565                        0.203        52537899        20059666  308,245�km2(119,014�sq�mi)     236/km2�(610/sq�mi)        930                          6.00%

In [113]:
statelist=[]
for states in states.State_or_union_territory: 
    statelist.append(states)
print statelist

['Uttar Pradesh', 'Maharashtra', 'Bihar', 'West Bengal', 'Madhya Pradesh', 'Tamil Nadu', 'Rajasthan', 'Karnataka', 'Gujarat', 'Andhra Pradesh', 'Odisha', 'Telangana', 'Kerala', 'Jharkhand', 'Assam', 'Punjab', 'Chhattisgarh', 'Haryana', 'Jammu and Kashmir', 'Uttarakhand', 'Himachal Pradesh', 'Tripura', 'Meghalaya', 'Manipur', 'Nagaland', 'Goa', 'Arunachal Pradesh', 'Mizoram', 'Sikkim', 'Delhi', 'Puducherry', 'Chandigarh', 'Andaman and Nicobar Islands', 'Dadra and Nagar Haveli', 'Daman and Diu', 'Lakshadweep']

In [114]:
%%time
companylist=[]
for i in companyinfo['Registered_office_address']:
    wordlist= str(i).split()
    companylist.append(wordlist[-1])
companyinfo['State']=companylist

CPU times: user 67.5 ms, sys: 4.39 ms, total: 71.9 ms
Wall time: 79 ms

In [119]:
statelist1=np.unique(companyinfo.State)
print statelist1
print len(statelist1)

['2RR' '3.' '5BS' '70130-3245' '7HD' '7SB' '97006' '9DP,' 'Assam' 'Bengal'
 'Bihar' 'Chandigarh' 'Chhattisgarh' 'Delhi' 'Diu' 'Goa' 'Gujarat' 'HD'
 'Haryana' 'Haveli' 'Jharkhand' 'Kamptee,' 'Karnataka' 'Kashmir' 'Kerala'
 'London,' 'Maharashtra' 'Manipur' 'Mauritius' 'Meghalaya' 'Mizoram' 'Nadu'
 'Nagaland' 'Odisha' 'Oman' 'Orissa' 'Pradesh' 'Puducherry' 'Punjab'
 'Rajasthan' 'Telangana' 'Tripura' 'Uttarakhand' 'nan']
44

,Company_Name,CMIE_company_code,Entity_type,ROC_registration_number,Incorporation_year,Industry_group,Main_product/service_group,Main_product/service_group_code,NIC_code,Ownership_group,NSE_symbol,Registered_office_address,Head_office_address,Registrar_name,Unnamed:_14,Unnamed:_15,Unnamed:_16,Unnamed:_17,Unnamed:_18,State
0,'K' Steamship Agencies Pvt. Ltd.,3,Private Ltd.,11-15089,1971,Other miscellaneous services,Services,2.100000e+19,46909,Private (Indian),NaN,"No. 29, Bank Street, Fort, Mumbai Maharashtra",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Maharashtra
1,'X'Clusive Business Centre Pvt. Ltd.,307865,Private Ltd.,21-77610,1996,Other financial services,Financial services including leasing,2.106000e+19,64910,Private (Indian),NaN,"35, Chittaranjan Avenue, 6th Floor, Kolkata W...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bengal
2,18Th Step Resorts Pvt. Ltd.,366257,Private Ltd.,09-14575,2001,Hotels & restaurants,"Lodging, guest houses & service apartments",2.102020e+19,55109,Private (Indian),NaN,"No. 30/335-A, Poonitura, Vettackal Buildings, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kerala
3,20 Microns Ltd.,11,Public Ltd.,Apr-68,1987,Minerals,Mineral Products,3.000000e+18,8920,Private (Indian),20MICRONS,"9/10, G I D C Industrial Estate, Waghodia, Va...","347, G I D C Industrial Estate, Waghodia, Vad...",Cameo Corporate Services Ltd.,NaN,NaN,NaN,NaN,NaN,Gujarat
4,20 Microns Nano Minerals Ltd.,232579,Public Ltd.,04-20540,1993,Minerals,Kaolin crude / natural,3.010700e+18,8108,Private (Indian),NaN,"Plot No.157, Village Mamuara, Tal. Bhuj, Kach...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Gujarat